/*Maze Game*/

@font-face {
    font-family: "pixel";
    src: url("pixel.otf");
}

@font-face {
    font-family: "Neou";
    src: url("Neou-Thin.ttf");
}

element.style {
    overflow-y: visible;
}

body
{
    background-color: #000000;
    overflow: hidden;
    margin: 20px;
    padding: 0;
    font-size: 0.85em;
    text-align: center;
}

.title
{
    text-align: center;
    
}

h1 {
    display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin: 0.67em 0;
    line-height: 3;
    font-family: pixel;
}

h2 {
    font-size: 30px;
    color: #000000;
    font-family: pixel;
}

h3
{
    font-size: 28px;
    color: #FFFFFF;
    font-family: Neou;
}

p {
    font-size: 15px;
    font-family: pixel;
    color: #FFFFFF;
    text-align: center;
}

#title #scene #intro {
    display: block;
    background: url("white.gif") no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 500;
}

#title #scene #intro .inner {
    position: relative;
    top: 20%;
}

.scroll-to {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -50px;
    display: block;
    background: url("arrow.png") no-repeat ;
    height: 80px;
    width: 200px;
    z-index: 600;
    transition: 0.3s;
}

#title #scene .scroll-to:hover {
    transform: translateY(-20px);
}

#game #game-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 500;
    transform: translateY(-50px);
}

#game {
    background-color: #000000;
}

#about-us {
    display: block;
    background: #000000;
}

#about-us h3 {
    font-family: pixel;
}

.impact-title {
    font-size: 70px;
    font-family: pixel;
    color: #FFFFFF;
    text-align: center;
    margin: 0.5em 0 0;
    text-transform: uppercase;
}

.container {
    display: block;
    height: 300px;
}

#creators li {
    display: inline-block;
    text-align: center;
}

#creators img {
    margin: 10px;
}

#creators h3 {
    color: #FFFFFF;
}

#creators {
    text-align: center;
}

#mycanvas {
    transform: translateY(30px);
    margin: 50px;
}



.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 600px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 0;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 150px;
    text-align: center;
    line-height: 380px;
    font-family: pixel;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

#facts {
    background-color: #FFFFFF;
}

#facts h2 {
    display: block;
    font-size: 80px;
    margin: 0;
    text-align: center;
}

